/admin

**/__pycache__/*
*/.flaskenv
.env
.DS_Store
**/.DS_Store
**.DS_Store/**

**/models/*/input/**
**/models/*/output/**

python_backend/triton_client/lpdnet/*
python_backend/triton_client/lprnet/*
